@use "../abstracts/index" as *;
@use "../vendors/index" as Res;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @include Res.media(">=320px", "<=480px") {
    font-size: 50%;
  }
}
body {
  min-height: 100vh;
  background-color: $Light;
}
a {
  text-decoration: none;
}
ul, li {
  list-style: none;
}