$Colors: (
        primary: (
                100: hsl(14, 100%, 80%),
                200: hsl(14, 100%, 70%),
                300: hsl(14, 100%, 60%),
                400: hsl(12, 100%, 43%),
                500: hsl(14, 100%, 20%),
        ),
        calculate: (
                "primary": hsl(346, 84%, 61%),
                "secondary": hsl(42, 100%, 70%),
                "tertiary": hsl(164, 95%, 43%),
                "quaternary": hsl(195, 83%, 38%),
                "protein": hsl(195, 83%, 16%),
        ),
        calculator: (
                "primary": hsl(152, 100%, 38%),
                "secondary": hsl(174, 100%, 35%),
                "tertiary": hsl(194, 100%, 40%),
                "quaternary": hsl(195, 100%, 91%),
                "protein": hsl(201, 100%, 23%),
        ),
        shades: (
                "gray-0": hsl(0, 0, 0%),
                "gray-1": hsl(0, 0%, 10%),
                "gray-2": hsl(0, 0%, 20%),
                "gray-3": hsl(0, 0%, 30%),
                "gray-4": hsl(0, 0%, 40%),
                "gray-5": hsl(0, 0%, 50%),
                "gray-6": hsl(0, 0%, 60%),
                "gray-7": hsl(0, 0%, 70%),
                "gray-8": hsl(0, 0%, 80%),
                "gray-9": hsl(0, 0%, 90%),
                "gray": hsl(0, 0%, 100%),
        )
);