// Variables - Colors
$Primary: #f3e32b;
$Secondary: #6165F7;
$Dark: #13101a;
$Light: #eee;
$scrollbarBG: #CFD8DC;
$thumbBG: #90A4AE;

// Variables - FontWeight
$fontWeight: (
        X-W: 800,
        E-W: 700,
        N-W: 600,
        M-W: 500,
        T-W: 400,
        L-W: 300,
)