@use "Sass/abstracts/index" as *;
body {
    background: linear-gradient(to right top, #16f39a, #9ec832, #d39300, #e95235, #d4006d), url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") center no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    //background: #eeeeee;
    display: grid;
    grid-template: minmax(8rem, auto) / repeat(4, 10rem);
    grid-auto-rows: 6rem;

    &__output {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: .5rem 1rem;
        background-color: rgba($Dark, .65);

        &--previous {
            color: rgba($Light, .6);
            font-size: 1em;
        }
        &--current {
            font-size: 1.4em;
            color: $Light;
        }
    }
    button.span-two {
        grid-column: span 2;
    }
    button {
        background-color: map-get($Colors, calculator, "secondary");
        color: map-get($Colors, calculate, "protein");
        &:hover {
            color: map-get($Colors, calculator, "quaternary");
        }
    }
}
